{% extends "layout.html" %}

{% block title %}
Reimert 306 2024-2025 Social Hosting
{% endblock %}

{% block body %}
    <h1>What do I do if I am social hosting?</h1>
    <h2 class="centered">
        If it is your day to social host and 306 is registerd,
        be on the lookout for an email confirming your selection
        to social host. On the day of the event, one of the three 
        social hosts must be in attendance at the pre-event meeting
        with campus safety and the RA's on duty in Pfahler 107 at 8:30 PM.
        Following this meeting, be prepared to be in 306 for the
        meeting with the RA's at 8:30. During the event, ensure
        that two of the three of you are outside by the door,
        while one is inside. Make sure all social hosts have
        their yellow bandana on them at all times.
    </h2>
    <br>
    <h1>What you can find in the tabs</h1>
    <br>
    <h2>View Your Schedule</h2>
    <p>
        In this section, you can find the schedule of any
        person eligible to social host for 306 in the fall
        of 2024 or the spring of 2025. Those eligible consist
        of any sophomore, junior, or senior that is a member 
        of the Ursinus Baseball Team as of August 8th, 2024 
        and has undergone social host training in the beginning
        of the semester and will be a full time student in a 
        given semester. To find your schedule, just type your 
        name in the search bar and submit to see the over 21 
        social host, the under 21 social hosts, and the date in
        which you are social hosting. If you are unable to social
        host on your assigned date, reach out to someone for a
        trade and text David with any trade that has been made.
    </p>
    <br>
    <h2>View the Full Schedule</h2>
    <p>
        Here you will similary be able to access the schedule
        of social hosts. However, you will be able to search
        by date to see the over 21 social host and under 21
        social hosts for any date selected. This can be useful
        in finding someone to trade your assigned social host
        date with.
    </p>
{% endblock %}
